.memoryList.list {
	display: grid;
	grid-template-columns: repeat(2, 15rem);
	grid-template-rows: repeat(8, 15rem);
	grid-gap: 1rem;
	list-style: none;
	justify-content: center;
}

@media (--mobile-landscape) {
	.memoryList.list {
		grid-template-columns: repeat(4, 12rem);
		grid-template-rows: repeat(4, 12rem);
	}
}

@media (--gte-small) {
	.memoryList.list {
		grid-template-columns: repeat(4, 15rem);
		grid-template-rows: repeat(4, 15rem);
	}
}
